
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Poppins", sans-serif;
    color: #555555;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  a:hover {
    color: #2eca6a;
    text-decoration: none;
  }
  
  
  
  .text-brand {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
  }
  @media (max-width: 767px) {
    .text-brand {
      font-size: 1.8rem;
    }
  }
  
  .color-a {
    text-decoration: none;
    color: #000000;
  }
  
  .color-b {
    color: #2eca6a;
  }
  
  .color-d {
    color: #adadad;
  }
  
  .color-text-a {
    text-decoration: none;
    color: #555555;
  }
  
  .no-margin {
    margin: 0;
  }
  
  
  
  
  
  /*------/ Pagination-a /------*/
  .pagination-a {
    text-decoration: none;
  }
  .pagination-a .pagination .page-link {
    margin: 0 0.2rem;
    border-color: transparent;
    padding: 0.5rem 0.8rem;
    color: #000000;
  }
  .pagination-a .pagination .page-link:hover, .pagination-a .pagination .page-link:active, .pagination-a .pagination .page-link:focus {
    background-color: #2eca6a;
  }
  .pagination-a .pagination .page-link span {
    font-size: 1.2rem;
  }
  .pagination-a .pagination .next .page-link {
    padding: 0.4rem 0.9rem;
  }
  .pagination-a .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .pagination-a .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .pagination-a .pagination .page-item.disabled .page-link {
    padding: 0.4rem 0.9rem;
    color: #555555;
  }
  .pagination-a .pagination .page-item.active .page-link {
    background-color: #2eca6a;
  }
  
  .a {
    text-decoration: none;
    color: #2eca6a;
    font-size: 1.3rem;
  }
  
  

 
  
  /*------/ Display Table & Table Cell /------*/
  .display-table {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  
  
  /*------/ Overlay /------*/
  .overlay-a {
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .carousel-pagination {
    margin-top: 10px;
    text-align: center;
  }
  .carousel-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #555;
    margin: 0 4px;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
  }
  .carousel-pagination .swiper-pagination-bullet-active {
    background-color: #2eca6a;
    width: 36px;
  }
  
  .nav-arrow-a {
    text-decoration: none;
  }
  .nav-arrow-a .owl-arrow .owl-nav {
    font-size: 1.8rem;
    margin-top: -110px;
  }
  .nav-arrow-a .owl-arrow .owl-nav .owl-next {
    margin-left: 15px;
  }
  
  .nav-arrow-b .owl-arrow .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    padding: 0.7rem 1.5rem !important;
    display: inline-block;
    transition: all 0.6s ease-in-out;
    color: #ffffff;
    background-color: #2eca6a;
    opacity: 0.9;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
    transition: all 0.6s ease-in-out;
    color: #ffffff;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
  .nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
    background-color: #26a356;
  }
  .nav-arrow-b .owl-arrow .owl-nav .owl-next {
    margin-left: 0px;
  }
  
  
  
  
  
  
  
 

  

  
  
  
 
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .intro {
    height: 100vh;
    position: relative;
    color: #ffffff;
  }
  .swiper-container {
    display: flex;
    
  }
  .intro .swiper-pagination {
    bottom: 50px;
  }
 
  .intro .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
  }
  .intro .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2eca6a;
    width: 36px;
  }
  .intro .intro-item {
    padding-top: 2rem;
  }
  .intro .carousel-item-a {
    position: relative;
    height: 100vh;
  }
  .intro .carousel-item-a.bg-image {
    background-attachment: scroll;
  }
  .intro .intro-content {
    position: absolute;
  }
  .intro .intro-body {
    padding-left: 1rem;
  }
  @media (min-width: 768px) {
    .intro .intro-body {
      padding-left: 2rem;
    }
  }
  .intro .intro-body .price-a {
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .intro .spacial {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    color: #ffffff;
  }
  .intro .intro-title-top {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 0.05em;
  }
  @media (min-width: 768px) {
    .intro .intro-title-top {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
  @media (min-width: 992px) {
    .intro .intro-title-top {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
  .intro .intro-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  @media (min-width: 576px) {
    .intro .intro-title {
      font-size: 3.5rem;
    }
  }
  @media (min-width: 768px) {
    .intro .intro-title {
      font-size: 3.5rem;
    }
  }
  @media (min-width: 992px) {
    .intro .intro-title {
      font-size: 4rem;
    }
  }
  .intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
  @media (min-width: 768px) {
    .intro .intro-subtitle {
      font-size: 2.5rem;
    }
  }
  .intro .intro-subtitle.intro-price {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  @media (min-width: 576px) {
    .intro .intro-subtitle.intro-price {
      font-size: 1.3rem;
    }
  }
  @media (min-width: 768px) {
    .intro .intro-subtitle.intro-price {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) {
    .intro .intro-subtitle.intro-price {
      padding-top: 3rem;
    }
  }
  
  /*------/ Intro Single /------*/
  .intro-single {
    padding: 12rem 0 3rem;
  }
  @media (max-width: 767px) {
    .intro-single {
      padding-top: 9rem;
    }
  }
  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }
  .intro-single .title-single-box {
    border-left: 3px solid #2eca6a;
  }
  .intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
  }
  @media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.1rem;
    }
  }
  @media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.5rem;
    }
  }
  .intro-single .breadcrumb-box {
    padding: 1rem 0 0 0.5rem;
  }
  .intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }
  
  /*--------------------------------------------------------------
  # Card General
  --------------------------------------------------------------*/

  
  .card-box-a .img-a,
  .card-box-a .img-b,
  .card-box-b .img-a,
  .card-box-b .img-b {
    transition: 0.8s all ease-in-out;
  }
  @media (min-width: 768px) {
    .card-box-a:hover .img-a,
  .card-box-a:hover .img-b,
  .card-box-b:hover .img-a,
  .card-box-b:hover .img-b {
      transform: scale(1.2);
    }
  }
  @media (min-width: 768px) {
    .card-box-a .price-a,
  .card-box-b .price-a {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 992px) {
    .card-box-a .price-a,
  .card-box-b .price-a {
      font-size: 1rem;
    }
  }
  
  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .card-shadow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-shadow:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
  }
  
  /*======================================
  //--//-->   PROPERTY - CARD-A
  ======================================*/
  @media (min-width: 768px) {
    .card-box-a:hover .card-overlay-a-content {
      bottom: 60px;
    }
  }
  @media (min-width: 768px) and (min-width: 768px) {
    .card-box-a:hover .card-overlay-a-content {
      bottom: 60px;
    }
  }
  @media (min-width: 768px) and (min-width: 992px) {
    .card-box-a:hover .card-overlay-a-content {
      bottom: 64px;
    }
  }
  @media (min-width: 768px) {
    .card-box-a:hover .card-body-a {
      padding-bottom: 1rem;
    }
  }
  @media (max-width: 767px) {
    .card-box-a .card-overlay-a-content {
      bottom: 65px;
    }
    .card-box-a .card-body-a {
      padding-bottom: 1rem;
    }
  }
  
  .card-overlay-a-content {
    transition: all 0.5s ease-in;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 2;
  }
  @media (min-width: 768px) {
    .card-overlay-a-content {
      bottom: -20px;
    }
  }
  @media (min-width: 992px) {
    .card-overlay-a-content {
      bottom: 0px;
    }
  }
  
  .card-header-a {
    padding: 0 1rem;
  }
  .card-header-a .card-title-a {
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 0.7rem;
  }
  @media (min-width: 768px) {
    .card-header-a .card-title-a {
      font-size: 1.3rem;
    }
  }
  @media (min-width: 992px) {
    .card-header-a .card-title-a {
      font-size: 2rem;
    }
  }
  .card-header-a .card-title-a a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .card-body-a {
    z-index: 2;
    transition: all 0.5s ease-in;
    padding: 0rem 1rem 2rem 1rem;
  }
  .card-body-a .price-box {
    padding-bottom: 0.5rem;
  }
  
  .price-a {
    color: #ffffff;
    padding: 0.6rem 0.8rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  
  .card-footer-a {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #2eca6a;
  }
  
  .card-info {
    list-style: none;
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
  .card-info .card-info-title {
    font-size: 1rem;
    color: #313131;
  }
  @media (min-width: 768px) {
    .card-info .card-info-title {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 992px) {
    .card-info .card-info-title {
      font-size: 1rem;
    }
  }
  .card-info li span {
    color: #ffffff;
    font-size: 0.9rem;
  }
  @media (min-width: 768px) {
    .card-info li span {
      font-size: 0.8rem;
    }
  }
  @media (min-width: 992px) {
    .card-info li span {
      font-size: 1rem;
    }
  }
  
  /*------/ Property Grid /-----*/
  .property-grid .grid-option {
    text-align: right;
    margin-bottom: 2rem;
  }
  .property-grid .grid-option .custom-select {
    border-radius: 0;
    width: 200px;
    border-color: #313131;
  }
  .property-grid .grid-option .custom-select:hover, .property-grid .grid-option .custom-select:active, .property-grid .grid-option .custom-select:focus {
    border-color: #313131;
  }
  .property-grid .grid-option .custom-select option {
    border-color: #313131;
  }
  
  /*------/ Property Single /-----*/
  .gallery-property {
    margin-bottom: 3rem;
  }
  
  .property-price {
    margin: 0 auto;
  }
  .property-price .card-header-c {
    padding: 0;
  }
  
  .summary-list {
    padding-right: 1rem;
    color: #000000;
  }
  .summary-list .list {
    padding: 0;
    line-height: 2;
  }
  .summary-list .list span {
    color: #555555;
  }
  
  @media (max-width: 767px) {
    .property-agent {
      margin-top: 2.5rem;
    }
  }
  .property-agent .title-agent {
    font-weight: 600;
  }
  .property-agent ul {
    line-height: 2;
    color: #000000;
  }
  .property-agent .socials-a {
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .property-contact {
      margin-top: 2.5rem;
    }
  }
  