/*======================================
//--//-->   BUTTON
======================================*/
.btn {
    transition: 0.5s ease;
  }
  .btn.btn-a, .btn.btn-b {
    border-radius: 0;
    padding: 1rem 3rem;
    letter-spacing: 0.05rem;
  }
  .btn.btn-a {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
  }
  .btn.btn-a:hover {
    background-color: #2eca6a;
    color: #000000;
  }
  .btn.btn-b {
    background-color: #2eca6a;
    color: #000000;
  }
  .btn.btn-b:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .btn.btn-b-n {
    background-color: #2eca6a;
    color: #ffffff;
    border-radius: 0;
  }
  .btn.btn-b-n:hover {
    background-color: #26a356;
    color: #ffffff;
  }
  
  .navbar-toggle-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 10px;
  }
  .navbar-toggle-box i {
    line-height: 0;
  }

  /*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.form-as #sendmessage {
    color: #2eca6a;
    border: 1px solid #26a356;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .form-as #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .form-as #sendmessage.show, .form-as #errormessage.show, .form-as .show {
    display: block;
  }
  .form-as .validation {
    color: red;
    display: none;
    margin: 4px 0 20px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .form-as label {
    color: #000000;
    position: relative;
  }
  .form-as select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
  }
  .form-as .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .form-as .form-control.form-control-a {
    height: 3.5rem;
  }
  .form-as .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
  }
  
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .php-email-form label {
    color: #000000;
    position: relative;
  }
  .php-email-form select.form-control-lg:not([size]):not([multiple]) {
    height: 3.5rem;
  }
  .php-email-form .form-control {
    border-radius: 0;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .php-email-form .form-control.form-control-a {
    height: 3.5rem;
  }
  .php-email-form .form-control:focus {
    box-shadow: none;
    border-color: #2eca6a;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  